[submodule "src/main/webapp/core"]
	path = src/main/webapp/core
	url = git@github.com:aoindustries/semanticcms-core-book.git
[submodule "src/main/webapp/autogit"]
	path = src/main/webapp/autogit
	url = git@github.com:aoindustries/semanticcms-autogit-book
[submodule "src/main/webapp/dia"]
	path = src/main/webapp/dia
	url = git@github.com:aoindustries/semanticcms-dia-book
[submodule "src/main/webapp/file"]
	path = src/main/webapp/file
	url = git@github.com:aoindustries/semanticcms-file-book
[submodule "src/main/webapp/google-analytics"]
	path = src/main/webapp/google-analytics
	url = git@github.com:aoindustries/semanticcms-google-analytics-book
[submodule "src/main/webapp/news"]
	path = src/main/webapp/news
	url = git@github.com:aoindustries/semanticcms-news-book
[submodule "src/main/webapp/openfile"]
	path = src/main/webapp/openfile
	url = git@github.com:aoindustries/semanticcms-openfile-book
[submodule "src/main/webapp/pagegraph"]
	path = src/main/webapp/pagegraph
	url = git@github.com:aoindustries/semanticcms-pagegraph-book
[submodule "src/main/webapp/section"]
	path = src/main/webapp/section
	url = git@github.com:aoindustries/semanticcms-section-book
[submodule "src/main/webapp/theme-documentation"]
	path = src/main/webapp/theme-documentation
	url = git@github.com:aoindustries/semanticcms-theme-documentation-book
[submodule "src/main/webapp/view-all"]
	path = src/main/webapp/view-all
	url = git@github.com:aoindustries/semanticcms-view-all-book
[submodule "src/main/webapp/view-tree"]
	path = src/main/webapp/view-tree
	url = git@github.com:aoindustries/semanticcms-view-tree-book
[submodule "src/main/webapp/view-what-links-here"]
	path = src/main/webapp/view-what-links-here
	url = git@github.com:aoindustries/semanticcms-view-what-links-here-book
